/* custom stuff related to the repl and buttons will go here */

@import url("https://fonts.googleapis.com/css?family=Orbitron");

.code-mode-logo {
  font-family: 'Orbitron' !important;
  font-weight: 600;
  color: #339933;
}

.drawer-subheaders {
  font-family: 'Orbitron';
  font-weight: 600;
  color: #339933;
}
