body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.add {
  background-color: purple;
}

.cancel {
  background-color: blue;
}

.clear {
  background-color: orange;
}

.delete {
  background-color: red;
}

.edit {
  background-color: yellow;
}

.submit {
  background-color: green;
}
