body {
  font-family: 'Orbitron', sans-serif;
  font-size: 100%;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.nav-toggle {
  color: #339933 !important;
  outline: none !important;
  border: 1px solid #339933;
}

.btn-border {
  border: 1px solid #339933;
}

.question-border {
  border: none;
}

.question-display {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none !important;
  vertical-align: baseline;
  background: #1c1b1a;
  color: #339933;
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
}

.question-display :focus {
  outline: 0 !important;
  border: none !important;
}

.question-box {
  cursor: auto;
  width: 40em;
  height: 6em;
  font-size: 1.5em;
}

.form-text {
  outline: none;
  resize: none;
  overflow: auto;
  background: #1c1b1a;
  color: #339933;
  font-size: 1.2em;
  border: none;
  border-radius: .28571429rem;
  width: 20em;
  height: 6em;
  padding: 0 2em 0 2em 0;
}

.form-input {
  outline: none;
  background: #1c1b1a;
  color: #339933;
  font-size: 1.2em;
  border: none;
  border-radius: .28571429rem;
  padding: 0 2em 0 2em 0;
}

.question-container {
  display: flex;
  justify-content: center;
}

.pad {
  padding: 0.2em 0 0.2em 0;
}

.pad-sides {
  padding: 0 0.5em 0 0.5em;
}

.pad-sides-more {
  padding: 0 1.5em 0 1.5em;
}

.pad-left {
  padding: 0 0 0 1em;
}

.pad-left-more {
  padding: 0 0 1em 14em;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
